@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0; 
    background-color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 35%;
    height: auto;
    padding: 30px 0;
    background-color: rgb(24, 24, 24);
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
    border: 1px solid rgba(255, 255, 255,0.3);
    /* border: 1px solid orangered; */
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 200px;
    position: relative;
    top: 50px;
}
.heading .sign-title{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.heading .sign-msg{
    color: white;
    opacity: 0.8;
    margin-top:20px;
    font-size: 18px;
}
.signup-form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top:50px ;
}
.inp-first-name input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
}
.inp-last-name input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
}
.inp-mail input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
}
.new-inp-password input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
}
.conf-inp-password input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
}
.pass-features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.show-pass label{
    color: white;
    opacity: 0.8;
}
.switch a{
    text-decoration: none;
    color: orangered;
    opacity: 0.8;
}
.sign-submit a button{
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 69, 0,0.8);
    padding: 5px 17px;
}
.input-group .error{
    color:rgb(242, 18, 18);
    font-size:15px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}

@media screen and (width<=1250px){
    .container{
        width: 50%;
        height: auto;
    }
}

@media screen and (width<=768px){
    .container{
        width: 90%;
        height: auto;
        border: 1px solid rgba(255, 255, 255,0.2);
        margin:auto;
        margin-top: 20px;
        box-shadow: none;
        /* border: 1px solid orangered; */
    }
    .logo img{
        width: 150px;
    }
    .heading .sign-title{
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
    .heading .sign-msg{
        margin-top:15px;
        font-size: 13px;
    }
    .signup-form{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top:50px ;
    }
    .inp-first-name input{
        width: 270px;
        height: 40px;
    }
    .inp-last-name input{
        width: 270px;
        height: 40px;
    }
    .inp-mail input{
        width: 270px;
        height: 40px;
    }
    .new-inp-password input{
        width: 270px;
        height: 40px;
    }
    .conf-inp-password input{
        width: 270px;
        height: 40px;
    }
    .show-pass label{
        font-size: 13px;
    }
    .forget-link a{
        font-size: 13px;
    }
    .new-account a{
        font-size: 13px;
    }
    .links{
        margin-top: 20px;
    }
    .log-submit a button{
        font-size: 15px;
        padding: 5px 17px;
    }
}